<form class="ddbli-sync-panel">
  <section class="ddbli-panel-section">
    <h3>{{localize "DDBLI.LinkedCharacters"}}</h3>
    {{#if characters.length}}
    <p class="ddbli-portrait-hint">{{localize "DDBLI.PortraitHint"}}</p>
    <div class="ddbli-portrait-grid">
      {{#each characters}}
      <div class="ddbli-portrait{{#if this.selected}} ddbli-selected{{/if}}" data-action="toggle-select" data-actor-id="{{this.id}}" title="{{this.name}} - {{this.lastSyncedLabel}}">
        <img src="{{this.img}}" alt="{{this.name}}">
        <span class="ddbli-portrait-name">{{this.name}}</span>
      </div>
      {{/each}}
    </div>
    <button type="button" class="ddbli-sync-selected-btn" data-action="sync-selected" {{#unless selectedCount}}disabled{{/unless}}>
      <i class="fa-solid fa-arrows-rotate"></i>
      {{localize "DDBLI.SyncSelected"}}{{#if selectedCount}} ({{selectedCount}}){{/if}}
    </button>
    {{#if resultLine}}
    <p class="ddbli-result-line">{{resultLine}}</p>
    {{/if}}
    {{else}}
    <p>{{localize "DDBLI.NoLinkedCharacters"}}</p>
    {{/if}}
  </section>

  <button type="button" class="ddbli-open-settings-btn" data-action="open-settings">
    <i class="fa-solid fa-gear"></i>
    {{localize "DDBLI.OpenSyncSettings"}}
  </button>
</form>
